name: GitHub Metrics

on:
  schedule:
    - cron: '0 */12 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: RENOVATINHO
          template: classic
          base: header, community, repositories, metadata
          config_timezone: America/Sao_Paulo
          
          # Linguagens (ok)
          plugin_languages: yes
          
          # Recent activity (funciona)
          plugin_activity: yes
          plugin_activity_limit: 5
