name: GitHub Metrics

on:
  schedule:
    - cron: '0 */12 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@d6484007f63018e850df615052c3ef0bed301c18
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: RENOVATINHO
          template: classic
          base: header, community, repositories, metadata
          config_timezone: America/Sao_Paulo

          plugin_languages: yes

          plugin_activity: yes
          plugin_acti_
